doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="description" content="Portfolio website for Noah Yarian, a full stack developer with a background in system administration and consulting")
    title Noah Yarian | DevOperator
    link(rel='stylesheet', href='lib/build.css')
    link(rel='stylesheet', href='main.css')
    link(rel="icon", type="image/jpeg", href="assets/favicon32.jpg", sizes="32x32")
    link(rel="icon", type="image/png", href="assets/favicon16.png", sizes="16x16")
  body
    ul#menu
      li(data-menuanchor="welcome")
        a(href="#welcome") Welcome
      li(data-menuanchor="about")
        a(href="#about") About Me
      li(data-menuanchor="projects")
        a(href="#projects") Projects
      li(data-menuanchor="contact")
        a(href="#contact") Contact Me
    #fullpage
      #section1.section
        p welcome
      #section2.section
        p about me
      #section3.section
        .slide(data-anchor="samplepad")
          .intro
            p samplepad
        .slide(data-anchor="goanddo")
          .intro
            p goanddo
        .slide(data-anchor="hitme")
          .intro
            p hitme
        .slide(data-anchor="biscuits")
          .intro
            p biscuits
        .slide(data-anchor="mkwhack")
          .intro
            p mkwhack
        .slide(data-anchor="slipabeat")
          .intro
            p slipabeat
      #section4.section.fp-auto-height
        p contact me
    script(src='lib/build.js')
    script(src='main.js')
