doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="description" content="Portfolio website for Noah Yarian, a full stack developer with a background in system administration and consulting")
    title Noah Yarian | DevOperator
    link(rel='stylesheet', href='lib/build.css')
    link(href='https://fonts.googleapis.com/css?family=Homemade+Apple|Montserrat:400,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='main.css')
    link(rel="icon", type="image/jpeg", href="assets/favicon32.jpg", sizes="32x32")
    link(rel="icon", type="image/png", href="assets/favicon16.png", sizes="16x16")
  body
    ul#menu
      li(data-menuanchor="welcome")
        a(href="#welcome") Welcome
      li(data-menuanchor="about")
        a(href="#about") About Me
      li(data-menuanchor="projects")
        a(href="#projects") Projects
      li(data-menuanchor="contact")
        a(href="#contact") Contact Me
    #fullpage
      #section1.section
        h1 NOAH YARIAN
        h2 a portfolio
      #section2.section
        .left-or-top
          img(src='assets/noah.jpg')
        .right-or-bottom
          h3 About Me
          p Just a guy in the world.
      #section3.section
        .slide(data-anchor="samplepad")
          .intro
            .screenshot
              .hover.hidden
                .links
                  a(href='https://github.com/NoahYarian/samplepad' title='View on GitHub')
                    .hover-link
                      i.fa.fa-5x.fa-github
                      p View code

                  a(href='http://samplepad.noahyarian.com' title='See it live')
                    .hover-link
                      i.fa.fa-5x.fa-external-link
                      p View website
            //- img(src='assets/samplepad.png')
            h3 SamplePad
            p They frame my junk. Oh, COME ON! What do you think about Sudden Valley? It sounds like a salad dressing, but for some reason I don't want to eat it. I'll be in the hospital bar.
              | You know there isn't a hospital bar, Mother. Well, this is why people hate hospitals.
            .tech
              .logo
              .logo
              .logo
              .logo
              .logo
              .logo
              //- img(src='assets/logos/node.svg')
              //- img(src='assets/logos/express.svg')
              //- img(src='assets/logos/mongo.svg')
              //- img(src='assets/logos/angular.svg')
              //- img(src='assets/logos/jquery.svg')
              //- img(src='assets/logos/bootstrap.svg')
        .slide(data-anchor="goanddo")
          .intro
            .screenshot
            h3 Go and Do
            p They frame my junk. Oh, COME ON! What do you think about Sudden Valley? It sounds like a salad dressing, but for some reason I don't want to eat it. I'll be in the hospital bar.
              | You know there isn't a hospital bar, Mother. Well, this is why people hate hospitals.
            .tech
              .logo
              .logo
              .logo
              .logo
              .logo
              .logo
        .slide(data-anchor="hitme")
          .intro
            .screenshot
            h3 Hit Me!
            p They frame my junk. Oh, COME ON! What do you think about Sudden Valley? It sounds like a salad dressing, but for some reason I don't want to eat it. I'll be in the hospital bar.
              | You know there isn't a hospital bar, Mother. Well, this is why people hate hospitals.
            .tech
              .logo
              .logo
              .logo
              .logo
              .logo
              .logo
        .slide(data-anchor="biscuits")
          .intro
            .screenshot
            h3 Biscuits: Rebuttered
            p They frame my junk. Oh, COME ON! What do you think about Sudden Valley? It sounds like a salad dressing, but for some reason I don't want to eat it. I'll be in the hospital bar.
              | You know there isn't a hospital bar, Mother. Well, this is why people hate hospitals.
            .tech
              .logo
              .logo
              .logo
              .logo
              .logo
              .logo
        .slide(data-anchor="mkwhack")
          .intro
            .screenshot
            h3 MK Whack-A-Mole
            p They frame my junk. Oh, COME ON! What do you think about Sudden Valley? It sounds like a salad dressing, but for some reason I don't want to eat it. I'll be in the hospital bar.
              | You know there isn't a hospital bar, Mother. Well, this is why people hate hospitals.
            .tech
              .logo
              .logo
              .logo
              .logo
              .logo
              .logo
        .slide(data-anchor="slipabeat")
          .intro
            .screenshot
            h3 SlipaBeat
            p They frame my junk. Oh, COME ON! What do you think about Sudden Valley? It sounds like a salad dressing, but for some reason I don't want to eat it. I'll be in the hospital bar.
              | You know there isn't a hospital bar, Mother. Well, this is why people hate hospitals.
            .tech
              .logo
              .logo
              .logo
              .logo
              .logo
              .logo
      #section4.section.fp-auto-height
        .social
          i.fa.fa-5x.fa-github
          i.fa.fa-5x.fa-linkedin
          i.fa.fa-5x.fa-slack
          i.fa.fa-5x.fa-spotify
          //- i.fa.fa-5x.fa-twitter
          i.fa.fa-5x.fa-codepen
          i.fa.fa-5x.fa-envelope
          //- i.fa.fa-5x.fa-steam
          //- i.fa.fa-5x.fa-facebook-official
    script(src='lib/build.js')
    script(src='main.js')
