doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="description" content="Portfolio website for Noah Yarian, a full stack developer with a background in system administration and consulting")
    title Noah Yarian | Portfolio
    link(rel='stylesheet', href='lib/build.css')
    link(href='https://fonts.googleapis.com/css?family=Homemade+Apple|Montserrat:400,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='lib/gh-fork-ribbon.css')
    //if lt IE 9
      link(rel='stylesheet' href='lib/gh-fork-ribbon.ie.css')
    link(rel='stylesheet', href='main.css')
    link(rel="icon", type="image/jpeg", href="assets/favicon32.jpg", sizes="32x32")
    link(rel="icon", type="image/png", href="assets/favicon16.png", sizes="16x16")
  body
    ul#menu
      li(data-menuanchor="welcome")
        a(href="#welcome") Welcome
      li(data-menuanchor="about")
        a(href="#about") About Me
      li(data-menuanchor="projects")
        a(href="#projects") Projects
      li(data-menuanchor="contact")
        a(href="#contact") Contact Me
    #fullpage
      #section1.section
        .github-fork-ribbon-wrapper.right
          .github-fork-ribbon
            a(href="https://github.com/NoahYarian/www.noahyarian.com") Fork me on GitHub
        h1 NOAH YARIAN
        h2 a portfolio
      #section2.section
        .left-or-top
          img(src='assets/noah.jpg')
        .right-or-bottom
          h3 About Me
          p Just a guy in the world.
      #section3.section
        .slide(data-anchor="samplepad")
          .intro
            #samplepad-img.screenshot
              .hover.hidden
                .links
                  a(href='https://github.com/NoahYarian/samplepad' title='View on GitHub')
                    .hover-link
                      i.fa.fa-5x.fa-github
                      p View code
                  a(href='http://samplepad.noahyarian.com' title='See it live')
                    .hover-link
                      i.fa.fa-5x.fa-external-link
                      p View website
            a(href='http://samplepad.noahyarian.com' title='See it live')
              h3 SamplePad
            p.blurb They frame my junk. Oh, COME ON! What do you think about Sudden Valley? It sounds like a salad dressing, but for some reason I don't want to eat it. I'll be in the hospital bar.
              | You know there isn't a hospital bar, Mother. Well, this is why people hate hospitals.
            .tech
              img.node.logo(src='assets/logos/nodejs-white.svg' alt='Node.js')
              img.express.logo(src='assets/logos/express.svg' alt='Express')
              img.logo(src='assets/logos/mongodb.svg' alt='MongoDB')
              img.logo(src='assets/logos/angular.svg' alt='AngularJS')
              img.logo(src='assets/logos/sass.svg' alt='Sass')
              img.logo(src='assets/logos/jquery.svg' alt='jQuery')
              img.logo(src='assets/logos/bootstrap.svg' alt='Bootstrap')
        .slide(data-anchor="goanddo")
          .intro
            #goanddo-img.screenshot
              .hover.hidden
                .links
                  a(href='https://github.com/NoahYarian/godo' title='View on GitHub')
                    .hover-link
                      i.fa.fa-5x.fa-github
                      p View code
                  a(href='http://godo.noahyarian.com' title='See it live')
                    .hover-link
                      i.fa.fa-5x.fa-external-link
                      p View website
            a(href='http://godo.noahyarian.com' title='See it live')
              h3 Go and Do
            p.blurb They frame my junk. Oh, COME ON! What do you think about Sudden Valley? It sounds like a salad dressing, but for some reason I don't want to eat it. I'll be in the hospital bar.
              | You know there isn't a hospital bar, Mother. Well, this is why people hate hospitals.
            .tech
              img.logo(src='assets/logos/gulp.svg' alt='Gulp')
              img.logo(src='assets/logos/jade.svg' alt='Jade')
              img.logo(src='assets/logos/sass.svg' alt='Sass')
              img.logo(src='assets/logos/angular.svg' alt='AngularJS')
              img.logo(src='assets/logos/firebase.svg' alt='Firebase')
              img.logo(src='assets/logos/facebook.svg' alt='Facebook Login')
              img.logo(src='assets/logos/jquery.svg' alt='jQuery')
              img.logo(src='assets/logos/lodash.svg' alt='lodash')
              img.logo(src='assets/logos/bootstrap.svg' alt='Bootstrap')
        .slide(data-anchor="hitme")
          .intro
            #hitme-img.screenshot
              .hover.hidden
                .links
                  a(href='https://github.com/NoahYarian/hitme' title='View on GitHub')
                    .hover-link
                      i.fa.fa-5x.fa-github
                      p View code
                  a(href='http://hitme.noahyarian.com' title='See it live')
                    .hover-link
                      i.fa.fa-5x.fa-external-link
                      p View website
            a(href='http://hitme.noahyarian.com' title='See it live')
              h3 Hit Me!
            p.blurb They frame my junk. Oh, COME ON! What do you think about Sudden Valley? It sounds like a salad dressing, but for some reason I don't want to eat it. I'll be in the hospital bar.
              | You know there isn't a hospital bar, Mother. Well, this is why people hate hospitals.
            .tech
              img.logo(src='assets/logos/gulp.svg' alt='Gulp')
              img.logo(src='assets/logos/jade.svg' alt='Jade')
              img.logo(src='assets/logos/sass.svg' alt='Sass')
              img.logo(src='assets/logos/jquery.svg' alt='jQuery')
              img.logo(src='assets/logos/lodash.svg' alt='lodash')
        .slide(data-anchor="biscuits")
          .intro
            #biscuits-img.screenshot
              .hover.hidden
                .links
                  a(href='http://codepen.io/NoahYarian/pen/MYMxLL/' title='Edit on CodePen')
                    .hover-link
                      i.fa.fa-5x.fa-codepen
                      p View code
                  a(href='http://codepen.io/NoahYarian/debug/MYMxLL/' title='See it live')
                    .hover-link
                      i.fa.fa-5x.fa-external-link
                      p View website
            a(href='http://codepen.io/NoahYarian/debug/MYMxLL/' title='See it live')
              h3 Biscuits: Rebuttered
            p.blurb They frame my junk. Oh, COME ON! What do you think about Sudden Valley? It sounds like a salad dressing, but for some reason I don't want to eat it. I'll be in the hospital bar.
              | You know there isn't a hospital bar, Mother. Well, this is why people hate hospitals.
            .tech
              img.logo(src='assets/logos/html-5.svg' alt='HTML 5')
              img.logo(src='assets/logos/css-3.svg' alt='CSS 3')
        .slide(data-anchor="mkwhack")
          .intro
            #mk-img.screenshot
              .hover.hidden
                .links
                  a(href='https://github.com/NoahYarian/mk-whack-a-mole' title='View on GitHub')
                    .hover-link
                      i.fa.fa-5x.fa-github
                      p View code
                  a(href='http://mk.noahyarian.com' title='See it live')
                    .hover-link
                      i.fa.fa-5x.fa-external-link
                      p View website
            a(href='http://mk.noahyarian.com' title='See it live')
              h3 MK Whack-A-Mole
            p.blurb They frame my junk. Oh, COME ON! What do you think about Sudden Valley? It sounds like a salad dressing, but for some reason I don't want to eat it. I'll be in the hospital bar.
              | You know there isn't a hospital bar, Mother. Well, this is why people hate hospitals.
            .tech
              img.logo(src='assets/logos/gulp.svg' alt='Gulp')
              img.logo(src='assets/logos/jade.svg' alt='Jade')
              img.logo(src='assets/logos/sass.svg' alt='Sass')
              img.logo(src='assets/logos/javascript.svg' alt='JavaScript')
        .slide(data-anchor="slipabeat")
          .intro
            #slipabeat-img.screenshot
              .hover.hidden
                .links
                  a(href='https://github.com/NoahYarian/slipabeat' title='View on GitHub')
                    .hover-link
                      i.fa.fa-5x.fa-github
                      p View code
                  a(href='http://slipabeat.noahyarian.com' title='See it live')
                    .hover-link
                      i.fa.fa-5x.fa-external-link
                      p View website
            a(href='http://slipabeat.noahyarian.com' title='See it live')
              h3 Slipabeat
            p.blurb They frame my junk. Oh, COME ON! What do you think about Sudden Valley? It sounds like a salad dressing, but for some reason I don't want to eat it. I'll be in the hospital bar.
              | You know there isn't a hospital bar, Mother. Well, this is why people hate hospitals.
            .tech
              img.logo(src='assets/logos/yeoman.svg' alt='Yeoman')
              img.logo(src='assets/logos/html-5.svg' alt='HTML 5')
              img.logo(src='assets/logos/css-3.svg' alt='CSS 3')
              img.logo(src='assets/logos/javascript.svg' alt='JavaScript')
      #section4.section.fp-auto-height
        .social
          a(href='http://github.com/NoahYarian' title='Check me out on GitHub')
            i.fa.fa-5x.fa-github
          a(href='https://www.linkedin.com/in/noahyarian' title='Connect with me on LinkedIn')
            i.fa.fa-5x.fa-linkedin
          //- a(href='http://github.com/NoahYarian')
          //-   i.fa.fa-5x.fa-slack
          //- a(href='https://open.spotify.com/user/capitalistocrat' title="See what I've been listening to")
          //-   i.fa.fa-5x.fa-spotify
          //- i.fa.fa-5x.fa-twitter
          a(href='http://codepen.io/NoahYarian/' title='Check me out on CodePen')
            i.fa.fa-5x.fa-codepen
          a(href='http://www.codewars.com/users/NoahYarian' title='See my completed kata on CodeWars')
            i.fa.fa-5x.fa-trophy
          a(href='mailto:Noah.Yarian@gmail.com' title='Email me directly')
            i.fa.fa-5x.fa-envelope
          //- i.fa.fa-5x.fa-steam
          //- i.fa.fa-5x.fa-facebook-official
    script(src='lib/build.js')
    script(src='main.js')
