@import '_styles/fullpage-examples';
@import '_styles/palette';

$color1: #5E412F;
$color2: #FCEBB6;
$color3: #78C0A8;
$color4: #F07818;
$color5: #F0A830;

.github-fork-ribbon {
  background: $color4;
  color: $color1;
}

h1 {
  font-size: 9em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: $color2;
}

h2 {
  font-family: 'Homemade Apple', sans-serif;
  font-size: 1.5em;
  color: $color4;
}

h3 {
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
  &:hover {
    text-shadow: 2px 2px rgba(0,0,0,.5);
  }
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #282828;
}

a {
  text-decoration: inherit;
  color: inherit;
  &:visited {
    text-decoration: inherit;
    color: inherit;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
  padding-top: 60px;
  &> * {
    margin: 0 auto;
  }
  p {
    width: 80%;
  }
}
.screenshot {
  height: 300px;
  width: 500px;
  border: 1px solid black;
  background-image: url('assets/samplepad.png');
  background-size: contain;
}

.hover {
  height: 300px;
  width: 500px;
  background: rgba(128,128,128,0.5);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.links {
  display: flex;
  justify-content: space-around;
}

.hover-link {
  border-radius: 15px;
  height: 164px;
  width: 153px;
  background: rgba(100,100,100,0.8);
  color: white;
  p {
    font-size: 1em;
    color: white;
    text-shadow: 1px 1px rgba(0,0,0,.5);
  }
  .fa-external-link {
    margin-right: -12px;
  }
  .fa-5x {
    margin-top: 27px;
    margin-bottom: 7px;
    text-shadow: 1px 1px rgba(0,0,0,.5);
  }
  a {
    text-decoration: inherit;
    color: inherit;
    &:visited {
      text-decoration: inherit;
      color: inherit;
    }
  }
}

.blurb {
  margin: 10px auto;
}

.tech {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-bottom: 5px;
  margin-top: 10px;
}

.logo {
  height: 35px;
}

.node {
  background: #404042;
  padding: 0 9px 4px 13px;
}

.express {
  padding-top: 3px;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 20px auto;
    i:hover {
    cursor: pointer;
    color: $color2;
  }
}

.hidden {
  display: none;
}
